<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="{{ $.Site.Params.author }}">
    <meta name="description" content="{{ $.Site.Params.description }}">
    <meta name="copyright" content="Copyright {{ now.Format "2006" }} {{ $.Site.Params.author }}. All rights reserved.">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous" defer></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/hydrogen.css">
    {{ if $.Site.Params.favicon }}
    <link rel="shortcut icon" href="{{ $.Site.Params.favicon }}" type="image/x-icon">
    {{ end }}
    {{ if $.Site.Params.favicon_animated }}
    <link rel="icon" href="{{ $.Site.Params.favicon_animated }}" type="image/x-icon">
    {{ end }}
    <title>{{ .Site.Title }}</title>
</head>
